*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans", sans-serif;
}
.p-menu1{
  display: none;
}
.navbar {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 64px;
    font-size: 14px;
    position: static;
    top: 0;
    z-index: 999;
    background:linear-gradient(180deg, rgba(33, 32, 105, 0.25) 25.52%, rgba(33, 32, 105, 0) 100%); ;
}
.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0px;
    background: transparent;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-1);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover{
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}
.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;   
    margin-top: 16px;
}
.navbar__item{
    height: 80px;
}

.navbar__links{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    width: 100%;
    height: 100%;
}
.navbar__links:hover{
    color: #aed136;
    transition: all 0.3s ease;
}
.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    
}
.button2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-decoration: none;
    padding: 8px 16px;
    height: 38px;
    width: 113px;
    left: 101px;
    top: 0;
    border: none;
    outline: none;
    border-radius: 8px;
    background: #212069;
    color: white;
}
.button{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-decoration: none;
    padding: 8px 16px;
    height: 38px;
    width: 100px;
    left: 101px;
    top: 0;
    border: none;
    outline: none;
    border-radius: 8px;
    background: #fff;
    color: #aed136;
    border: 1px solid #aed136 ;
}
.button:hover{
    transition: all 0.5s ease-in-out;
    background: #aed136;
    color: #fff;
}
.button2:hover{
    content: '';
    transition: all 0.5s ease;
    background: #fff;
    color: #212069;
    border: 0.5px solid #212069;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color:black ;
}
@media screen and (max-width: 960px) {
    .navbar{
      padding: 0;

    }
    .p-menu1{
      display: contents;
    }
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0 30px;
    }
  
    .nav-toggle {
      display: none;
    }
    .navbar__menu{
        display: none;
        /* grid-template-columns: auto;
        top: 70px;
        width: 90%;
        position: absolute; */
        /* top: -100%;
        opacity: 0; */
        /* transition: all 0.5s ease;
        height:50vh;
        z-index: -1;
        background: #212069; */
    }
    .navbar__menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.3s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }
    #navbar_logo{
        padding-left: 50px;
    }
    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3 ease-in-out;
        background: #fff;
    }
    .navbar__item{
      width: 100%;
    }
    .navbar__item a{
        font-size: small;
    }
    .navbar__btn a{
        font-size: small;
    }
    .navbar__links{
      width: 100%;
      margin: 0;
      padding: 10px 0;
    }
    #mobile-menu{
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  
  .p-menu1{
     height: 100%;
  }
  
  
  
  
      /* Hamburger */
      .hamburger1 {
        height: 45px;
        margin: 10px;
        display: -ms-grid;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        justify-items: flex-end;
        z-index: 120;
      }
      
      .hamburger1 div {
        background-color: rgb(61, 61, 61);
        position: relative;
        width: 40px;
        height: 5px;
        margin-top: 7px;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
      }
      .button{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #toggle1 {
        display: none;
      }
      
      #toggle1:checked + .hamburger1 .top {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        margin-top: 22.5px;
      }
      
      #toggle1:checked + .hamburger1 .meat {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        margin-top: -5px;
      }
      
      #toggle1:checked + .hamburger1 .bottom {
        -webkit-transform: scale(0);
                transform: scale(0);
      }
      
      #toggle1:checked ~ .menu1 {
        height: 340px;
      }
      
      
      /* Menu */
      .menu1 {
        width: 100%;
        background-color: #02173F;
        margin: 0;
        display: -ms-grid;
        display: grid;
        grid-template-rows: 1fr repeat(4, 0.5fr);
        grid-row-gap: 25px;
        padding: 0;
        list-style: none;
        clear: both;
        width: auto;
        text-align: center;
        height: 0px;
        overflow: hidden;
        transition: height .4s ease;
        z-index: 120;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      
      .menu1 a:first-child {
        margin-top: 40px;
      }
      
      .menu1 a:last-child {
        margin-bottom: 40px;
      }
      
      .link1 {
        width: 100%;
        margin: 0;
        padding: 10px 0;
        font: 700 20px 'Oswald', sans-serif;
      }
      
      .link1:hover {
        background-color: #fff;
        color: rgb(61, 61, 61);
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
        
    }