body{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    background: #f7f7f7;
    overflow-x: hidden;
}
.home{
    height: auto;
    display: flex;
    flex-direction: column;
    /* row-gap: 64px; */
}
.poster-element-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 396px;
    z-index: 100 !important; 
}
@media screen and (max-width: 1200px ) {
    .poster-container{
        padding: 32px 32px !important;
    }
    .poster-text h2{
        font-size: 30px !important;
    }
    .poster-description{
        font-size: 16px !important;
    }
    .poster-element-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
    }
    .particle-poster-text{
        display: none;
    }
    .element-susah{
        display: none;
    }
    .hidden{
        display: none;
    }
}

@media screen and (max-width: 601px){
    .poster-image{
        width: 250px;
    }
}
.containers{
    color: white;
    padding-top: 120px !important;
    padding: 100px;
    position: relative;
    width: 100%;
}

.element-susah{
    position: absolute;
    right: 0;
}
.poster-container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0px 100px ;
    background: rgb(35,35,91);
    background: linear-gradient(90deg, rgba(35,35,91,1) 19%, rgba(35,38,73,1) 80%);
}

.poster-text-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.poster-image {
    max-width: 376px !important;
}

.poster-text{
    display: flex;
    justify-content: space-between;
}

.particle-poster-element{
    position: absolute;
    right: -35px;
    bottom: -35px;
}
.poster-text h2{
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px; /* 145% */
}
.poster-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.poster-description{
    color: #FFF;
    text-align: justify;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 130.435% */
}

.home-animate{
    height: 760px;
    background: linear-gradient(
        45deg, #C0DB64, #4947C7, #171591,#4947C7, #adace6
    );
    background-size: 400% 400%;
    animation: animate-background 10s infinite ease-in-out;
}
@keyframes animate-background {
    0% {
        background-position: 0 100% ;
    }
    50% {
        background-position: 100% 50%   ;
    }
    100% {
        background-position: 0 100%;
    }
}
.containers h1{
    font-size: 70px;
    font-family: 'Work Sans', sans-serif;
}
.containers h5{
    font-weight:400;
    font-size: 20px;
}
a{
    text-decoration: none;
}
.buttonHome{
    display: flex;
    flex-direction: row;
    column-gap: 16px;
}
.button1{
    text-decoration: none;
    color: #ffffff;
    padding: 10px 16px;
    border: none;
    background: #212069;
    /* Shadow/Button/01 */

    box-shadow: 0px 43px 72px rgba(64, 37, 214, 0.08), 0px 15.6096px 28.3703px rgba(64, 37, 214, 0.0551985), 0px 6.04617px 13.1662px rgba(64, 37, 214, 0.0445033), 0px 1.69431px 5.93674px rgba(64, 37, 214, 0.0354967), 0px 0.0190289px 2.13248px rgba(64, 37, 214, 0.0248015);
    border-radius: 8px;
}
.button2{
    color: #AED136;
    padding: 8px 16px;
    background: #FFFFFF;
    /* Green/500 */

    border: 1px solid #AED136;
    /* Shadow/Button/02 */

    box-shadow: 0px 133px 118px rgba(159, 241, 42, 0.05), 0px 29.7073px 26.3568px rgba(159, 241, 42, 0.0298054), 0px 8.84464px 7.84712px rgba(159, 241, 42, 0.0201946);
    border-radius: 8px;

}
.a{
    display: inline-block ;
}
.slidingVertical{
	display: inline;
	text-indent: 8px;
}
.slidingVertical span{
	animation: topToBottom 7.5s linear infinite 0s;
	-ms-animation: topToBottom 7.5s linear infinite 0s;
	-webkit-animation: topToBottom 7.5s linear infinite 0s;
	color: #ffffff;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    font-family: Work Sans;
    font-weight: 700;
    margin-top: 2px;
}

.slidingVertical span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}

/*topToBottom Animation*/
@-moz-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(-50px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-50px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-50px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}


.student{
    color: white;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 20px  !important;
    padding: 15px;
    text-align: center;
    border-style: solid;
    border-color: #212069 !important;
    background-color: #212069;
}

.alumni{
    border-style: solid;
    border-color: #AED136 !important;
    cursor: pointer;
    color: #8fac32;
    border-radius: 10px;
    margin-right: 20px  !important;
    padding: 15px;
    text-align: center;
    background-color: white;
}
.heading{
    font-family: Work Sans;
    font-size: 34px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #212069;
}
.more{
    border-radius: 10px;
    border-style: solid;
    border-color: #AED136;
    width: fit-content;
    padding: 10px;
}

.more a{
    color: #AED136 ;
}
.more:hover{
    color: #ffffff;
    background: #AED136;
    transition: all 0.2s ease-in;
}
.more a:hover{
    color: #ffffff;
    transition: all 0.2s ease-in;
}

.activityItem h4{
    color: #7B7AD6;
}

.aboutUs{
    padding: 64px;
}
.containerAbout{
    padding: 32px;
    display: grid;
    grid-template-columns: 25% 75%;
    column-gap: 32px;
}
.aboutContent{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.aboutContent p{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}
.aboutUs span ,.portofolio span{
    font-size: 40px;
    color: #AED136;
}

.aboutUs h5{
    margin-top: 30px;
}
.ourActivity{
    padding: 64px;
}
.activityContent{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}
.activityCard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 80px 0 80px;
    column-gap: 32px;
}

.ourActivity span{
    font-size: 40px;
    color: #AED136;
}
.responsive{
    width: 100%;
    height: auto;
    max-width: 150px;
}
.activityItem{
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    color: black;
    background: #ffffff;
    padding: 32px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 32px;
    box-shadow: 0px 31px 46px -22px rgba(123, 97, 255, 0.25);
}
.activityItem:hover{
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.text{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.text h4{
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: -0.02em;
    text-align: center;
}
.text p{
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.ourPortofolio{
    padding: 64px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}
.ourPortofolio span{
    font-size: 40px;
    color: #AED136;
}
.cardPort{
    display: flex;
    flex-direction: row;
}
.explore{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
    padding: 32px;
}
.explore button{
    border: none;
    background: #212069;
    color: #FFFFFF;
    box-shadow: 0px 43px 72px rgba(64, 37, 214, 0.08), 0px 15.6096px 28.3703px rgba(64, 37, 214, 0.0551985), 0px 6.04617px 13.1662px rgba(64, 37, 214, 0.0445033), 0px 1.69431px 5.93674px rgba(64, 37, 214, 0.0354967), 0px 0.0190289px 2.13248px rgba(64, 37, 214, 0.0248015);
    border-radius: 8px;
    padding: 10px 16px 4px 16px;
}
.explore button:hover{
    background: #4947C7;
    transition: all 0.2s ease;
}
.explore h6{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.startup img{
    border: 0.5px solid #dddd;
    border-radius: 8px;

}
@media screen and (max-width: 960px) {
    .containerAbout{
        display: flex;
        flex-direction: column;
    }
    .activityCard{
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }
    .cardPort{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}


@media screen and (max-width:601px)  {

    .containers{
        padding: 32px 32px 32px 32px;
        background-color: #212069;
        width: 100%;
    }
    .containers h1{
        font-size: 30px;
    } 
    .containers h5{
        font-size: 14px;
    }
    .buttonHome{
        display: flex;
        flex-direction: column;
        width: 60%;
        row-gap: 16px;
    }
    .aboutUs{
        padding: 32px;
    }
    .containerAbout{
        display: flex;
        flex-direction: column;
    }
    .ourActivity{
        padding: 32px;
    }
    .activityContent{
        display: flex;
        flex-direction: column;
    }
    .activityCard{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .activityCard:hover{
        transform: none;
    }
    .portofolio{
        top: 3400px;
        left: 0px;
    }

    .portofolio h2{
        padding-left: 20px;
    }
    
    .activityItem{
        margin-bottom: 20px;
        height: 450px;
    }
    .cardPort{
        display: flex;
        flex-direction: column;
    }
    .startup{
        margin-bottom: 20px;
        padding-left: 0px !important;
        text-align: center;
    }
    .explore{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}